/*.checkstyle
/*.classpath
/*.settings
/.checkstyle
/.classpath
/.idea
/.project
.classpath
.settings
.project
**/*.iml
**/*.classpath
**/*.checkstyle
**/*.settings
**/*.project
**/target
target
/target
/data